<footer id="app-footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/leo-zhang2020/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/centuryhopper" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            &copy; @DateTime.Now.Year - Leo's Personal Portfolio <br>
            All rights reserved.
        </div>
    </div>
</footer>


<style>
    .social-icons {
        /*margin-top: 10px;*/
    }

    .social-icons a {
        margin: 0 5px;
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
    }

    .social-icons a:hover {
        color: #1DA1F2; /* Twitter color, adjust for others */
    }
</style>