<footer id="app-footer">
    <div class="container">
        <div class="footer-wrap">
            &copy; @DateTime.Now.Year - Leo's Personal Portfolio <br>
            All rights reserved.
            <br />
        </div>
    </div>
</footer>