@inject IAccountService accountService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#">Hi @context.User.Identity?.Name!</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" @onclick="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav-text">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
            <a class="nav-link" href="login">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span class="m-3 nav-text">Log In</span>
            </a>
    </NotAuthorized>
</AuthorizeView>
@code {
    private async Task Logout()
    {
        await localStorageService.ClearAsync();
        await accountService.LogoutAsync();
        NavigationManager.NavigateTo("", true);
    }
}