@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase



@* cant inherit from a fluxor component so we use idisposable pattern in this case *@


<div class="wrapper">
    <Header />
    <Navigation>
        <NavSelections />
        @if (LoginButtonIState.Value.IsLoginButtonVisible)
        @* @if (loginButtonUnlocked) *@
        {
            <LoginDisplay />
        }
        else
        {
            <div style="opacity: 0; cursor: pointer;" @onclick="()=>IncrementCount()">just a div</div>
        }
    </Navigation>

    <main role="main" class="p-3 pt-lg-0 pt-4">
        @* <div class="container">
        <p>
        <AuthorizeView>
        <Authorized>
        <span class="text-success fw-bold mx-auto">User: @context.User.Identity!.Name</span>
        </Authorized>
        </AuthorizeView>
        </p>
        </div> *@
        @Body
    </main>

</div>

<Footer />

