@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inherits LayoutComponentBase
 
<div class="wrapper">
    <Header />
    <Navigation>
        <NavSelections/>
        <LoginDisplay/>
    </Navigation>
 
    <main role="main" class="p-3 pt-lg-0 pt-4">
        @* <div class="container">
            <p>
                <AuthorizeView>
                    <Authorized>
                        <span class="text-success fw-bold mx-auto">User: @context.User.Identity!.Name</span>
                    </Authorized>
                </AuthorizeView>
            </p>
        </div> *@
        @Body
    </main>
 
</div>
 
<Footer />
@code {
    private bool isAuthenticated;
    protected override async Task OnInitializedAsync()
    {
        var authState = await ((ApiAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }
}