@page "/aboutme"

<style>
  .tenor-gif-embed {
    max-width: 300px;  /* Set the maximum width */
    height: auto;      /* Keep the aspect ratio intact */
    display: block;    /* Ensure it's treated as a block-level element */
    margin: 0 auto;    /* Center the GIF horizontally */
  }
</style>


<div class="text-center">
    
    <div class="tenor-gif-embed" data-postid="13903117" data-share-method="host" data-aspect-ratio="2" data-width="100%">
        <a href="https://tenor.com/view/star-wars-hello-there-hello-obi-wan-kenobi-gif-13903117">Star Wars Hello There GIF</a>
        from <a href="https://tenor.com/search/star+wars-gifs">Star Wars GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>


    <hr/>
    <p>
    I am a passionate software guy trying to live his best life. I have both a bachelor's and a master's in computer science from the University of Central Florida. I currently work as a software developer at FWC (Florida Fish and Wildlife Commission) using .Net core technologies, SQL server, entity framework, and Azure Devops as the source control. Outside of work, I mainly like to delve into three different topics: Mental/physical health wellness, finances, and traveling.
    </p>
</div>